{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>{{title}}</title>

		<!-- Site favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{% static 'vendors/images/applogo.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{% static 'vendors/images/applogo.png' %}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{% static 'vendors/images/applogo.png' %}"
		/>

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'vendors/styles/icon-font.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}"
		/>
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");
		</script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body class="login-page">
<div class="login-header box-shadow">
			<div
				class="container-fluid d-flex justify-content-between align-items-center"
			>
				<div class="brand-logo">
					
					<a href="#">
						<img src="{% static 'vendors/images/180x50.png' %}" alt="" />
					</a>
				</div>
				<div class="login-menu">
					<ul>
<!--						<li><a href="#">Register</a></li>-->
					</ul>
				</div>
			</div>
		</div>
		<div
			class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
		>
			<div class="container">

				<div class="row clearfix">

					<!-- sale -->
					<div class="col-md-4 col-sm-12 mb-30">
						<div class="pd-20 card-box height-100-p">
							<h5 class="h4">Sale </h5>
							<a
								href="{% url 'myapp:MyCartView' %}"
								class="btn-block"
								data-toggle="#"
								data-target="#"
								type="button"
							>
								<img src="{% static 'vendors/images/sale.jpg' %}" alt="modal" />
							</a>
							
						</div>
					</div>
					
					

					<!-- Setup Setting -->
					<div class="col-md-4 col-sm-12 mb-30">
						<div class="pd-20 card-box height-100-p">
							<h5 class="h4">Setup</h5>
							<a
								href="{% url 'myapp:DashSetupView' %}"
								class="btn-block"
								data-toggle="#"
								data-target="#"
								type="button"
							>
								<img src="{% static 'vendors/images/setting.jpg' %}" alt="modal" />
							</a>
							
						</div>
					</div>

				

					
				</div>
				<div class="row align-items-center">
					
				</div>
			</div>
		</div>


		<!-- welcome modal start -->

		<!-- welcome modal end -->
		<!-- js -->
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
		<!-- buttons for Export datatable -->
		<script src="{% static 'src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.print.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/pdfmake.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/vfs_fonts.js' %}"></script>
		<!-- Datatable Setting js -->
		<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
