{% extends 'base.html' %}

{% block content %}


<div class="card-box mb-30">
    <div class="pd-20">
        <a
									href="#"
									class="btn btn-sm btn-outline-primary"
									data-toggle="modal"
									data-target="#Medium-modal"
									type="button"
								>
									+ Add Category
								</a>
								<div
									class="modal fade"
									id="Medium-modal"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myLargeModalLabel"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-dialog-centered">
                                        <form action="{% url 'myapp:CategoryCreate' %}" method="post">{% csrf_token %}
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myLargeModalLabel">
													Create Category
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-hidden="true"
												>
													×
												</button>
											</div>

											<div class="modal-body">
												<div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Category Name</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" placeholder="" name="category_name">
                    </div>
                </div>
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Close
												</button>
												<button type="submit" class="btn btn-primary">
													Save Category
												</button>
											</div>
										</div>
                                            </form>
									</div>
								</div>
                                <!-- =================================== -->
                                <a
                                href="#"
                                class="btn btn-sm btn-outline-info"
                                data-toggle="modal"
                                data-target="#unit-modal"
                                type="button"
                            >
                                + Add Unit
                            </a>
                            <div
                                class="modal fade"
                                id="unit-modal"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="myLargeModalLabel"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog modal-dialog-centered">
                                    <form action="{% url 'myapp:UnitCreateView' %}" method="post">{% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myLargeModalLabel">
                                                Create Type/Unit
                                            </h4>
                                            <button
                                                type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-hidden="true"
                                            >
                                                ×
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Unit</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" type="text" placeholder="" name="iunit">
                </div>
            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                        </form>
                                </div>
                            </div>
                            <!-- ============================ -->
                            <a
                   href="#"
                   class="btn btn-sm btn-outline-success"
                   data-toggle="modal"
                   data-target="#bd-example-modal-lg-{{p.id}}"
                   type="button"
               >
               + Create Item
                   <!-- <img src="vendors/images/modal-img1.jpg" alt="modal" /> -->
               </a>
               <div
                   class="modal fade bs-example-modal-lg"
                   id="bd-example-modal-lg-{{p.id}}"
                   tabindex="-1"
                   role="dialog"
                   aria-labelledby="myLargeModalLabel"
                   aria-hidden="true"
               >
                   <div class="modal-dialog modal-lg modal-dialog-centered">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h4 class="modal-title" id="myLargeModalLabel">
                                   Create Item
                               </h4>
                               <button
                                   type="button"
                                   class="close"
                                   data-dismiss="modal"
                                   aria-hidden="true"
                               >
                                   ×
                               </button>
                           </div>
                           <div class="modal-body">
                               

                               <div class="row">
                                   
                                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">
                                      
<div class="card-box mb-30">
    <div class="pd-20">
        <form action="{% url 'myapp:ProductCreate' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label">Item Name</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="text" placeholder="" name="itemname" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label">Photo</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="file" placeholder="" name="photo" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label">Category</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="category">
                            <option selected="">Select Category Name</option>
                            {% for c in category %}
                            <option>{{c.category_name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label">Sale Price</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="number" placeholder="" name="saleprice" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label">Sub Item</label>
                    <div class="col-sm-12 col-md-10">
                        <select
                        class="custom-select2 form-control"
                        name="superitem"
                        style="width: 100%; height: 38px"
                        data-style="btn-outline-primary"
                    >
                        <optgroup>
                            <option value="">Select Item Name</option>
                            {% for m in item_list %}
                            <option value="{{m.id}}">{{m.itemname}}|{{m.iunit}}</option>
                            {% endfor %}
                        </optgroup>
                        
                    </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label">Unit/Type</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" name="iunit">
                            <option selected="">Select Unit Name</option>
                            {% for c in unt %}
                            <option>{{c.unit}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label">Package Qty</label>
                    <div class="col-sm-12 col-md-10">
                        <input class="form-control" type="number" placeholder="" name="unpackqty">
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-sm-12 col-md-12 col-form-label"></label>
                    <input type="submit" value="Create Product" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>

                                   </div>
                               </div>

                               
                           </div>
                           {% comment %} <div class="modal-footer">
                               <button
                                   type="button"
                                   class="btn btn-secondary"
                                   data-dismiss="modal"
                               >
                                   Close
                               </button>
                               <button type="button" class="btn btn-primary">
                                   Save changes
                               </button>
                           </div> {% endcomment %}
                       </div>
                   </div>
               </div>


<!-- Large modal -->
                            <!-- ================================== -->
    </div>
</div>




<!--=============================================================-->
<div class="card-box mb-30">
    <div class="pd-20">

        

    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover wrap" id="myTable">
            <thead>
            <tr class="">

                <th>Photo</th>
                <th>ပစ္စည်းအမျိုးအမည်</th>
                <th>Category</th>
               
                <th>ရောင်းဈေး</th>
                
                <th>လက်ကျန်ပမာဏ</th>
                <th>
                   Edit
                </th>
                

            </tr>
            </thead>
            <tbody>
            {% for p in item_list %}
            <tr>
                <td><img src="{{p.photo.url}}" alt="photo" width="100px"></td>
                <td><a href="#"><b>{{p.itemname}}</b></a></td>
                <td>{{p.category}}</td>
                
                <td>{{p.saleprice}}</td>
                
                <td>{{p.stockbalance}}(<span class="text-danger">{{p.iunit}}</span>)</td>
                <td>
                    <a href="{% url 'myapp:ProductEditView' p.id %}" class="btn btn-sm btn-primary"><i class="icon-copy dw dw-edit-1"></i></a>
                    <a href="{% url 'myapp:ProductDeleteView' p.id %}" class="btn btn-sm btn-danger"><i class="icon-copy dw dw-delete-3"></i></a>
                   
                    {% if p.unpackqty == 1 %}

                    {% else %}
                    
                    <a href="{% url 'myapp:UnpackageView' p.id %}" class="btn btn-sm btn-warning"><span class="micon bi bi-gift-fill"></span></a>

                    {% endif %}
                    
                </td>
                


            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>


<script>
    $('#myTable').DataTable( {
    fixedHeader: true
} );
</script>

{% endblock content %}