{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card-box mb-30">
    <div class="pt-20 pb-20">
        <div class="pl-20">
            <!--					date filter section -->
                    <a
                            href="#"
                            class="btn btn-sm btn-outline-primary"
                            data-toggle="modal"
                            data-target="#bd-example-modal-lg-{{p.id}}"
                            type="button"
                    >
                        <i class="icon-copy dw dw-filter"></i> <span>Filter by Date</span>

                    </a>
                    <div
                            class="modal fade bs-example-modal-lg"
                            id="bd-example-modal-lg-{{p.id}}"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="myLargeModalLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel">
                                        Filter by Date Between
                                    </h4>
                                    <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-hidden="true"
                                    >
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">


                                    <div class="row">

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">

                                            <div class="card-box  mb-30">
                                                <div class="pd-20">
                                                    <form action="{% url 'myapp:SaleInvoiceReportView' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label>From Date</label>
                                                            <input
                                                                    class="form-control form-control-lg"
                                                                    type="date"
                                                                    name="fdate"
                                                                    required

                                                            />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>To Date</label>
                                                            <input
                                                                    class="form-control form-control-lg"
                                                                    type="date"
                                                                    name="tdate"
                                                                    required

                                                            />
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" value="Filter by Date"
                                                                   class="btn btn-primary btn-block">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!--					end date filter section -->



        </div>
    </div>
</div>

{% for ord_obj in ord %}
<div class="card-box mb-30">
    <div class="pb-20">
        <div class="pl-30 pt-30 pb-20">Invoice- <strong>{{ord_obj.id}}</strong> | Date - <strong>{{ord_obj.created}}</strong></div>
        <table class="table stripe hover nowrap">
            <thead>
            <tr>
                <th>SN</th>
                <th>Item Name</th>

                <th>Rate</th>
                <th class="text-right">Quantity</th>
                <th>Unit</th>
                <th>Subtotal</th>

            </tr>
            </thead>
            <tbody>
            {% for p in ord_obj.cart.cartproduct_set.all %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <a href="#">{{p.product.itemname}}</a>


                </td>

                <td>{{p.rate}}</td>
                <td class="text-right">{{p.quantity}}</td>
                <td>{{p.product.iunit}}</td>
                <td>{{p.subtotal}}</td>


            </tr>
            {% endfor %}

            <tr>
                <td colspan="5" class="text-right">Amount :</td>
                <td>{{ord_obj.total}}</td>
                {% if cart.cartproduct_set.all %}
                <td></td>
                {% endif %}

            </tr>

            <tr>
                <td colspan="5" class="text-right">Total :</td>
                <td>{{cart.total}}</td>
                {% if cart.cartproduct_set.all %}
                <td><a href="{% url 'myapp:CheckoutView' %}" class="btn btn-sm btn-primary">Check Out Detail</a>
                </td>
                {% endif %}

            </tr>


            </tbody>
        </table>
    </div>
</div>
{% endfor %}


{% endblock content %}
