{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card-box mb-30">
    <div class="pb-20">

    </div>
</div>



{% for ord_obj in ord %}
<div class="card-box mb-30">
    <div class="pb-20">
        <div>Invoice- {{ord_obj.id}} | Date - {{ord_obj.created}}</div>
        <table class="table stripe hover nowrap">
            <thead>
            <tr>
                <th>SN</th>
                <th>Item Name</th>

                <th>Rate</th>
                <th  class="text-right">Quantity</th>
                <th>Unit</th>
                <th>Subtotal</th>
               
            </tr>
            </thead>
            <tbody>
                {% for p in ord_obj.cart.cartproduct_set.all %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <a href="#">{{p.product.itemname}}</a>


                </td>

                <td>{{p.rate}}</td>
                <td class="text-right">{{p.quantity}}</td>
                <td>{{p.product.iunit}}</td>
                <td>{{p.subtotal}}</td>
                

            </tr>
            {% endfor %}

            <tr>
                <td colspan="5" class="text-right">Amount :</td>
                <td>{{ord_obj.total}}</td>
                {% if cart.cartproduct_set.all %}
                <td></td>
                {% endif %}

            </tr>

            <tr>
                <td colspan="5" class="text-right">Total :</td>
                <td>{{cart.total}}</td>
                {% if cart.cartproduct_set.all %}
                <td><a href="{% url 'myapp:CheckoutView' %}" class="btn btn-sm btn-primary">Check Out Detail</a>
                </td>
                {% endif %}

            </tr>



            </tbody>
        </table>
    </div>
</div>
{% endfor %}


{% endblock content %}
