{% extends 'base.html' %}

{% block content %}

<div class="card-box mb-30">
    <div class="pd-20">

    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
            <tr>
                <th>Sr</th>
                <th>Unit</th>
                <th>Edit</th>


            </tr>
            </thead>
            <tbody>
            {% for p in u %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td class="table-plus"><a href="#"><b>{{p.unit}}</b></a></td>
                <td>
                    <!--                    <a href="#" class="btn btn-sm btn-warning">edit</a>-->

                    <!-- <h4 class="text-blue h4">Items in Shop</h4> -->
                    <a
                            href="#"
                            class="btn btn-sm btn-info"
                            data-toggle="modal"
                            data-target="#bd-example-modal-lg-{{p.id}}"
                            type="button"
                    >
                        <i class="icon-copy dw dw-edit-1"></i>

                    </a>
                    <div
                            class="modal fade bs-example-modal-lg"
                            id="bd-example-modal-lg-{{p.id}}"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="myLargeModalLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel">
                                        Unit
                                    </h4>
                                    <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-hidden="true"
                                    >
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">


                                    <div class="row">

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">

                                            <div class="card-box mb-30">
                                                <div class="pd-20">
                                                    <form action="{% url 'myapp:UnitEditView' %}" method="post">{% csrf_token %}
                                                    <div class="form-group">
                                <label>Unit</label>
                                <input
                                        class="form-control form-control-lg"
                                        type="text"
                                        name="uni"
                                        value="{{p.unit}}"
                                />
                            </div>
                                                        <div class="form-group">
                                                            <input type="number" name="uid" value="{{p.id}}" hidden>
                                                            <input type="submit" value="Update Unit" class="btn btn-info btn-block">
                                                        </div>
                                                        </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Large modal -->

                    <a
									href="#"
									class="btn btn-sm btn-danger"
									data-toggle="modal"
									data-target="#Medium-modal-{{p.id}}"
									type="button"
								>
									<i class="icon-copy dw dw-trash1"></i>
								</a>
								<div
									class="modal fade"
									id="Medium-modal-{{p.id}}"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myLargeModalLabeld"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-dialog-centered">
                                        <form action="{% url 'myapp:UnitDeleteView' %}" method="post">{% csrf_token %}
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title text-danger" id="myLargeModalLabeld">
													Are You Sure To Delete ?
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-hidden="true"
												>
													×
												</button>
											</div>

											<div class="modal-body">
												<div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label text-danger"> {{p.unit}} </label>
                    <div class="col-sm-12 col-md-10">
                        <input type="number" name="rid" hidden value="{{p.id}}">
                    </div>
                </div>
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Close
												</button>
												<button type="submit" class="btn btn-danger">
													Remove
												</button>
											</div>
										</div>
                                            </form>
									</div>
								</div>
<!--                    end modal-->
                </td>


            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>


{% endblock content %}